body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 15px;
}

.contact {
    background-color: #babafd;
    display: block;
    width: auto;
    margin: 5px 5px;
    border: 2px solid black;
    border-radius: 5px;
}