{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marco's E-Commerce Website</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <!-- Header Section -->
    <header>
        <h1>Marco's E-Commerce Website</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Products</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main>
        {% block content %}
        <!-- Content for specific pages will go here -->
        {% endblock %}
    </main>

    <!-- Footer Section -->
    <footer>
        <p>&copy; 2024 Your E-Commerce Website</p>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'js//scripts.js' %}"></script>

</body>

</html>
